<div class="chat">
    <div id="user-data">
        Name: <div id="name">{{userData.name}}</div>
        Room: <div id="room">{{userData.room}}</div>
    </div>
    <ul class="messages" id="list">
    </ul>
    <div class="input">
        <form action="" id="msg-form">
            <input id="new-msg"><button>Send</button>
        </form>
    </div>
</div>