.mine-msg .card{
    background-color: rgba(160, 217, 255, 0.603);
    margin-right: 0px;
    text-align: end;
}

.input {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

#list {
    height: 75vh;
}

#inner {
    overflow-x: auto;
    max-height: 75vh;
}

.user-list{
    overflow-x: auto;
    max-height: 75vh;
    width: 100%;
}